<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    <a href="/cars" style="font-family:Source Sans Pro;color:brown;font-size:25px">All cars here</a><br>
    <a href="/cars?count=1" style="font-family:Source Sans Pro;color:black;font-size:25px">Cars count = 1</a><br>
    <a href="/cars?count=2" style="font-family:Source Sans Pro;color:black;font-size:25px">Cars count = 2</a><br>
    <a href="/cars?count=3" style="font-family:Source Sans Pro;color:black;font-size:25px">Cars count = 3</a><br>
    <a href="/cars?count=4" style="font-family:Source Sans Pro;color:black;font-size:25px">Cars count = 4</a><br>
    <a href="/cars?count=5" style="font-family:Source Sans Pro;color:black;font-size:25px">Cars count = 5</a><br>
    <a href="/cars?count=6" style="font-family:Source Sans Pro;color:black;font-size:25px">Cars count = 6</a><br>
</div>
</body>
</html>